*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}



.container{

   max-width: 60%;
   padding: 50px;
   margin: auto;
  

 
}

.container h1,h3, p{
    text-align: center;

}
h3{
    color:blue;
}

input, textarea{
    width: 90%;
    margin: 10px;
    padding: 7px;
    font-size: 15px;
    border: 30%;
    border-radius: 2px;
    margin-left: 50px;

}

.btn{
   
  
    padding: 10px;
    border: 30%;
    border-radius: 8px;
    font-size: 15px;
    background: palegreen;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg{
    width: 100%;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
    height: 100%;
}

.submitMsg{
    font-size: 25px;
    color: green;
}